body {
    /* Define o caminho da imagem dentro da pasta pngs */
    background-image: url('../pngs/png5.jpg');

    /* Garante que a foto cubra a tela inteira sem repetir */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Mantém as configurações anteriores */
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lista-continuar {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none; /* Esconde a barra no Firefox */
}
#lista-continuar::-webkit-scrollbar {
    display: none; /* Esconde a barra no Chrome/Edge */
}

.hotbar-container {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro transparente */
    border: 2px solid #fff;
    border-radius: 12px;
    backdrop-filter: blur(10px); /* Efeito de vidro */
}

.hotbar-item {
    width: 50px;
    height: 50px;
    background-color: #444;
    border: 2px solid #888;
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.2s; /* Animação suave */
}

/* Efeito ao passar o mouse ou selecionar */
.hotbar-item:hover {
    background-color: #3498db;
    border-color: #fff;
    transform: scale(1.1) translateY(-5px); /* Sobe um pouquinho */
}
.hotbar-item:nth-child(1) { 
    background-image: url('../pngs/inicio.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hotbar-item:nth-child(2) { 
    background-image: url('../pngs/livro.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hotbar-item:nth-child(3) { 
    background-image: url('../pngs/lupa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hotbar-item:nth-child(4) { 
    background-image: url('../pngs/info.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hotbar-item:nth-child(5) { 
    background-image: url('../pngs/sair.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
